This is the Welcome page

<%= button_to "Pastures", 'pasture_data#index', method: :get, class: 'buttons'%>
<%= button_to "Water Sources", 'water_data#index', method: :get, class: 'buttons'%>
<%= button_to "Weather Sources", 'weather_data#index', method: :get, class: 'buttons' %>



<div class="data-div">
 <script>
   function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  function showPosition(position) {
     var getUrl = "https://data.waterpointdata.org/resource/gihr-buz6.json?$where=within_circle(location, 36.97, 70.15, 1000)"
     $.ajax({
        method: "GET",
        dataType: "json",
        url: getUrl
      }).done(function(response){
        $(".data-div").html(response[1].lat_deg)
        goodStuff = response;
      })
  }

</script>
</div>





