This is the Welcome page

<div id="water"><%= button_to "Water", 'water_data#index', method: :get%></div>
<div id="weather"><%= button_to "Weather", 'weather_data#index', method: :get%></div>



<div class="data-div">
 <script>
   function getLocation(type) {
      if (navigator.geolocation) {
      	if (type == "water"){
          navigator.geolocation.getCurrentPosition(showPosition);
      	} else if(type == "weather"){
 		  navigator.geolocation.getCurrentPosition(showWeather)
 		}
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  function showPosition(position) {
  	
     var getUrl = "https://data.waterpointdata.org/resource/gihr-buz6.json?$where=within_circle(location," + position.coords.latitude + "," + position.coords.longitude + ",1000000)"
 	
     console.log(getUrl)
     $.ajax({
        method: "GET",
        dataType: "json",
        url: getUrl 
      }).done(function(response){
        console.log(response)
        $('.data-div').html(response);
      })
  }

  function showWeather(position) {
  	
     var getUrl = "http://api.wunderground.com/api/80d49bda7b9399e7/conditions/q/" + position.coords.latitude + "," + position.coords.longitude + ".json"
     console.log(getUrl)
     $.ajax({
        method: "GET",
        dataType: "json",
        url: getUrl 
      }).done(function(response){
        console.log(response)
        debugger
        $('.data-div').html("<p>The weather is " + response.current_observation.weather + ".</p>" + 
        					"<p>The current temperature is " + response.current_observation.temperature_string + ".</p>" + 
        					"<p>The wind is blowing " + response.current_observation.wind_dir + " at " + response.current_observation.wind_kph + " KPH, gusting up to " + response.current_observation.wind_gust_kph + " KPH." );
      })
  }
</script>
</div>



