This is the Welcome page

<%= button_to "Pastures", 'pasture_data#index', method: :get, class: 'buttons'%>
<%= button_to "Water Sources", 'water_data#index', method: :get, class: 'buttons'%>
<%= button_to "Weather Sources", 'weather_data#index', method: :get, class: 'buttons' %>



<div class="data-div">
</div>