.icon {
  height: 50px;
  width: 50px;
  display: inline-block;
}

form {
  display: inline-block;
}

.weather_row {
  margin-top: 2em;
}

h1 {
  font-size: 7em;
  font-family: 'Poiret One', cursive;
}

#weather_icon {
  height: 42px;
  width: 42px;
}

.data-div {
  margin-top: 2.5em;
  font-size: 2.5em;
}